.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 20px;
}

.container div {
    background: peachpuff;
    border: 4px solid salmon;
    height: 500px;
    flex: 1 1 0%;
    text-align: center;
    width: 1000px;
    padding-left: 410px;
    padding-right: 410px;
    padding-top: 75px;
    padding-bottom: 75px;
}